* {
    -webkit-tap-highlight-color: transparent; /* Safari, iOS, and Android */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Older Android versions */
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100dvh;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    font-style: normal;
    overflow: hidden;
}

p, h5, h2, div {
    user-select: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #070F2B;
}

button {
    border: none;
    background-color: #535C91;
    color: aliceblue;
    width: 10rem;
    height: 4rem;
    z-index: 99;
    border-radius: 15px;
}

#info {
    z-index: 20;
    width: 30px;
    height: 30px;
}

.infos {
    position: absolute;
    top: 60%;
}

.infos-2 {
    position: absolute;
    z-index: 90;
    right: 3rem;
    bottom: 3rem;
}

.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255, 255, 255, 0.8);
    z-index: 2;
}

.box div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}


