@import "./background.css";

* {
    -webkit-tap-highlight-color: transparent; /* Safari, iOS, and Android */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Older Android versions */
}

div {
    user-select: none;
}

#gameplay {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    width: auto;
    height: auto;
    gap: 1rem;
    z-index: 60;
    user-select: none;
}


#tic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 1rem;
    gap: 1rem;
    background-color: #070F2B;
    border: 10px solid #535C91;
    border-radius: 35px;
    z-index: 52;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
}

.tbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 10px;
    background-color: #535C91;
    z-index: 51;
    user-select: none;
}

.scores {
    display: flex;
    justify-content: space-between;
}

.scores div{
    display: grid;
    grid-template-rows: repeat(2, 50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0px;
    color: white;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 10px;
    background-color: #535C91;
    z-index: 51;
}

.scores div p {
    font-size: 1.5rem;
    padding: 10px;
}

#restart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
#restart-button div {
    width: 100px;
    display: flex;
    flex-direction: row;
    padding: 0 1rem 0 1rem;
    justify-content: space-around;
    background-color: #535C91;
    border-radius: 15px;
    z-index: 50;
    color: white;
}

#restart-button div img {
    user-select: none;
    width: 20px;
}

.restart-button div h3 {
    user-select: none;
}


@keyframes animate{
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}